<body>

  <div class="wrapper">
    <div class="slide">
      <h1 class="titulo-font">Cadastrar Vacina</h1>

      <section class="form-field" [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label>Nome da vacina</mat-label>
          <input matInput formControlName="nomeDaVacina" placeholder="Nome da vacina - Mês/Ano"
            [ngClass]="{'is-invalid': submitted && hasError('nomeDaVacina')}">

          <div class="invalid-feedback" *ngIf="hasError('nomeDaVacina')">

            <div *ngIf="form.controls['nomeDaVacina'].errors?.['required']">
              Por favor informe um nome para a vacina.
            </div>
            <div *ngIf="form.controls['nomeDaVacina'].errors?.['maxlength']">
              Nome da vacina precisa ter no máximo 25
              caracteres.
            </div>

          </div>
          <mat-hint></mat-hint>

        </mat-form-field>

      </section>
      <section class="form-field" [formGroup]="form">
        <mat-form-field appearance="outline">

          <mat-label>Dica</mat-label>
          <input matInput formControlName="dicaDaVacina" placeholder=""
            [ngClass]="{'is-invalid': submitted && hasError('dicaDaVacina')}">

        </mat-form-field>
        <button type="submit" mat-icon-button class="add-button" (click)="onSubmit()">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <mat-hint></mat-hint>
      </section>

      <div class="container">

        <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z0">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let vacina"> {{vacina.id}} </td>
          </ng-container>

          <ng-container matColumnDef="nomeDaVacina">
            <th mat-header-cell *matHeaderCellDef> Nome da Vacina </th>
            <td mat-cell *matCellDef="let vacina"> {{vacina.nomeDaVacina}} </td>
          </ng-container>

          <ng-container matColumnDef="dicaDaVacina">
            <th mat-header-cell *matHeaderCellDef> Dica </th>
            <td mat-cell *matCellDef="let vacina"> {{vacina.dicaDaVacina}} </td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let vacina">
              <button mat-icon-button>
                <mat-icon mat-icon-button (click)="editVacina(vacina)">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteVacina(vacina.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </div>
  </div>

</body>
