<body>

  <div class="wrapper">
    <div class="slide">
      <h1 class="titulo-font">Cadastrar Vacina</h1>
      <section class="form-field">
        <mat-form-field appearance="outline">
          <mat-label>Nome da vacina*</mat-label>
          <input matInput placeholder="Nome da vacina - Mês/Ano">
          <mat-hint></mat-hint>
        </mat-form-field>
      </section>
      <section class="form-field">
        <mat-form-field appearance="outline">
          <mat-label>Dica</mat-label>
          <input matInput placeholder="">
          <mat-hint></mat-hint>
        </mat-form-field>
      </section>

    </div>
  </div>
</body>
