<h1 *ngIf="!isChange" mat-dialog-title>Cadastrar vacina</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar vacina</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nome da Vacina</mat-label>
    <input matInput [(ngModel)]="data.nomeDaVacina">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Dica</mat-label>
    <input matInput [(ngModel)]="data.dicaDaVacina">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button *ngIf="!isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
  <button *ngIf="isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Editar</button>
</div>
