<div>
  <mat-toolbar class="navbar-row-1 font-navbar">
    <div>
      <div class="button-row">
        <button mat-button>Atestados</button>
        <button mat-button>Exame Periódico</button>
        <button mat-button>Vacinação</button>
      </div>
    </div>
    <!-- <div class="button-row example-spacer">
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
    </div> -->
  </mat-toolbar>
</div>

<div>
  <mat-toolbar-row class="navbar-row-2 font-navbar-2">
    <div class="button-row-2">
      <span>Mostrar:</span>
      <button mat-button>Consulta</button>
      <button mat-button>Cadastrar Vacina</button>
      <button mat-button>Cadastrar Campanha</button>
    </div>
  </mat-toolbar-row>
</div>
