<section>
  <mat-toolbar class="navbar-row-1">
    <span>Logo</span>
    <div class="button-row font-navbar">
      <button mat-button>Atestados</button>
      <button mat-button>Exame Periódico</button>
      <button mat-button>Vacinação</button>
    </div>
    <span class="example-spacer"></span>
    <section>
      <div>
        <button mat-flat-button class="aderir-button">
          <mat-icon>add</mat-icon> Aderir a nova campanha
        </button>
        <button mat-flat-button class="linguagem-button">PT-BR <mat-icon>expand_more</mat-icon></button>
        <button mat-icon-button class="duvidas-button">
          <mat-icon>help_outline</mat-icon>
        </button>
        <button mat-icon-button class="logoff-button">
          <mat-icon>power_settings_new</mat-icon>
        </button>


      </div>
    </section>
  </mat-toolbar>
</section>

<div>
  <mat-toolbar-row class="navbar-row-2 font-navbar-2">
    <div class="button-row-2">
      <span>Mostrar:</span>
      <button mat-button>Consulta</button>
      <button mat-button>Cadastrar Vacina</button>
      <button mat-button>Cadastrar Campanha</button>
    </div>
  </mat-toolbar-row>
</div>
